body{
    padding: 0;
    margin: 0;
}

table{
    border:1px solid black;
    width: 80%;
 height: 300px;
  border-collapse: collapse ;
}


td{
 border-bottom: 1px solid black;

 
}
th{
    text-align: left;
    background-color: lightblue;
}

a:hover{
    color: blue;
}
a:visited{
    color: brown;
}
tr:nth-child(even){
    background-color: blue;
    
}